h1 {
    color: white;
    text-align: center;
    font-size: 100px;
    }

h2 {
     font-size: 50px;
      color: white;
      text-align: center;
      font-family: 'Prompt', sans-serif;
    }
h3 {
     font-size: 25px;
color:white;
text-align:center;
font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: underlined;
}
    p {
    color: white;
    text-align: center;
    }

    html {
      scroll-behavior: smooth;
      scroll-padding: 1.5rem;
    }

    body {
      font-family: "Montserrat", "Helvetica", Arial, sans-serif;
      font-weight: normal;
      font-size: 18px;
      color: #383838;
      background-color: #242323;
      background-image: url("../assets/background.webp");
      background-repeat: repeat;
      background-attachment: scroll;
      overflow-x: hidden;
      margin: 0;
        }


    footer {
    font-family: 'Prompt';
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    float: right;
    color: white;
    }

.wikitext {
    font-family: 'Prompt';
    text-align: middle;
    color: white;
    font-size: 22px;
}



    .slogan {
        font-size: 25px;
        color: white;
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.7);
      }

      li {
        float: left;
      }

      li a, .dropbtn  {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
      }

      li a:hover, .dropdown:hover .dropbtn {
        background-color: #111;
          transition-duration: 0.4s;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }

      img {
      text-align: center;
          user-drag: none;
          -webkit-user-drag: none;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
      }


      .active {
        background-color: #111;
      }

      li:last-child {
        border-right: none;
      }

      li.dropdown {
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #111;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      .dropdown-content a {
        color: white;
        padding: 20px 20px;
        text-decoration: none;
        display: block;
        text-align: left;
      }

      .dropdown-content a:hover {
        background: rgba(0, 0, 0, 0.3);
      }

      .dropdown:hover .dropdown-content {
        display: block;
}

* {
  box-sizing: border-box;
}

   button:disabled,
   button[disabled]{
     border: 1px solid #999999;
     background-color: #a6a6a6;
     color: #666666;
   cursor: not-allowed;
   }

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  float: auto;
  text-align: center;
  width: 25%;
  padding: 10px;
  display: block;
  margin: 0 auto;
}


.container img {
  width: 100%;
  height: auto;
  background-color: #111;
  border-radius: 8px;
  filter: blur(3px);
  vertical-align: middle;
  display:inline-block;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #242323;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  text-align: center;
}

.container .btn:hover {
  background-color: #111;
    font-size: 17px;
}